In [21]:
import numpy as np 
import pandas as pd

# The two libraries we are are using for EDA
import matplotlib.pyplot as plt 
import seaborn as sns

#red_wine = pd.read_csv('C:\Users\sfmol\Dropbox\CAB\VSCode_GitHub\blueberry_winerys_project\winequality-red.csv')
#red_wine = pd.read_csv('C:\\Users\\sfmol\\Dropbox\\CAB\\VSCode_GitHub\\blueberry_winerys_project\\winequality-red.csv')
#red_wine = pd.read_csv('C:/Users/sfmol/Dropbox/CAB/VSCode_GitHub/blueberry_winerys_project/winequality-red.csv')
#red_wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv')

In [24]:
red_wine = pd.read_csv('winequality-red.csv', sep=';')

In [25]:
red_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [26]:
red_wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [27]:
red_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [ ]:
sns.boxplot(data=red_wine)
plt.show()

In [28]:
# Imprimir los primeros 10 registros
print(red_wine.head(10))

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075
4            7.4              0.70         0.00             1.9      0.076
5            7.4              0.66         0.00             1.8      0.075
6            7.9              0.60         0.06             1.6      0.069
7            7.3              0.65         0.00             1.2      0.065
8            7.8              0.58         0.02             2.0      0.073
9            7.5              0.50         0.36             6.1      0.071

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65
3                 17.0                  60.0   0.9980  3.16       0.58
4                 11.0                  34.0   0.9978  3.51       0.56
5                 13.0                  40.0   0.9978  3.51       0.56
6                 15.0                  59.0   0.9964  3.30       0.46
7                 15.0                  21.0   0.9946  3.39       0.47
8                  9.0                  18.0   0.9968  3.36       0.57
9                 17.0                 102.0   0.9978  3.35       0.80

   alcohol  quality
0      9.4        5
1      9.8        5
2      9.8        5
3      9.8        6
4      9.4        5
5      9.4        5
6      9.4        5
7     10.0        7
8      9.5        7
9     10.5        5

In [29]:
# Imprimir los últimos 10 registros
print(red_wine.tail(10))

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
1589            6.6             0.725         0.20             7.8      0.073
1590            6.3             0.550         0.15             1.8      0.077
1591            5.4             0.740         0.09             1.7      0.089
1592            6.3             0.510         0.13             2.3      0.076
1593            6.8             0.620         0.08             1.9      0.068
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
1589                 29.0                  79.0  0.99770  3.29       0.54
1590                 26.0                  35.0  0.99314  3.32       0.82
1591                 16.0                  26.0  0.99402  3.67       0.56
1592                 29.0                  40.0  0.99574  3.42       0.75
1593                 28.0                  38.0  0.99651  3.42       0.82
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol  quality
1589      9.2        5
1590     11.6        6
1591     11.6        6
1592     11.0        6
1593      9.5        6
1594     10.5        5
1595     11.2        6
1596     11.0        6
1597     10.2        5
1598     11.0        6

El método head() muestra los primeros 10 registros del DataFrame, mientras que el método tail() muestra los últimos 10 registros. Si deseas imprimir más o menos registros, simplemente cambia el número dentro de los paréntesis de cada método. Por ejemplo, head(20) imprimirá los primeros 20 registros, y tail(5) imprimirá los últimos 5 registros.

In [30]:
# Mostrar la información del DataFrame
print(red_wine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB
None

In [31]:
# Mostrar la forma del DataFrame
print(red_wine.shape)

(1599, 12)

El método info() muestra una descripción concisa del DataFrame, incluyendo el número de filas y columnas, los nombres de las columnas, el número de valores no nulos y el tipo de datos de cada columna. Por otro lado, el método shape devuelve una tupla con el número de filas y columnas del DataFrame.

Ten en cuenta que el método info() también puede ayudarte a identificar cualquier problema de datos, como valores faltantes o tipos de datos incorrectos, lo que puede ser útil en el análisis de datos.

In [32]:
# Para observar si hay valores faltantes o nulos en tu DataFrame en pandas, puedes usar los métodos isna() o isnull(). Ambos métodos son equivalentes y devuelven una matriz booleana con el mismo tamaño que el DataFrame original, donde cada valor es True si es un valor faltante y False de lo contrario.
# Aquí hay un ejemplo de cómo hacerlo para tu DataFrame red_wine:

# Verificar si hay valores faltantes o nulos en el DataFrame
print(red_wine.isna())

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0             False             False        False           False      False
1             False             False        False           False      False
2             False             False        False           False      False
3             False             False        False           False      False
4             False             False        False           False      False
...             ...               ...          ...             ...        ...
1594          False             False        False           False      False
1595          False             False        False           False      False
1596          False             False        False           False      False
1597          False             False        False           False      False
1598          False             False        False           False      False

      free sulfur dioxide  total sulfur dioxide  density     pH  sulphates  \
0                   False                 False    False  False      False
1                   False                 False    False  False      False
2                   False                 False    False  False      False
3                   False                 False    False  False      False
4                   False                 False    False  False      False
...                   ...                   ...      ...    ...        ...
1594                False                 False    False  False      False
1595                False                 False    False  False      False
1596                False                 False    False  False      False
1597                False                 False    False  False      False
1598                False                 False    False  False      False

      alcohol  quality
0       False    False
1       False    False
2       False    False
3       False    False
4       False    False
...       ...      ...
1594    False    False
1595    False    False
1596    False    False
1597    False    False
1598    False    False

[1599 rows x 12 columns]

In [33]:
# O, de forma equivalente:
print(red_wine.isnull())

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0             False             False        False           False      False
1             False             False        False           False      False
2             False             False        False           False      False
3             False             False        False           False      False
4             False             False        False           False      False
...             ...               ...          ...             ...        ...
1594          False             False        False           False      False
1595          False             False        False           False      False
1596          False             False        False           False      False
1597          False             False        False           False      False
1598          False             False        False           False      False

      free sulfur dioxide  total sulfur dioxide  density     pH  sulphates  \
0                   False                 False    False  False      False
1                   False                 False    False  False      False
2                   False                 False    False  False      False
3                   False                 False    False  False      False
4                   False                 False    False  False      False
...                   ...                   ...      ...    ...        ...
1594                False                 False    False  False      False
1595                False                 False    False  False      False
1596                False                 False    False  False      False
1597                False                 False    False  False      False
1598                False                 False    False  False      False

      alcohol  quality
0       False    False
1       False    False
2       False    False
3       False    False
4       False    False
...       ...      ...
1594    False    False
1595    False    False
1596    False    False
1597    False    False
1598    False    False

[1599 rows x 12 columns]

El resultado será una matriz booleana con True en las celdas donde hay valores faltantes y False en las celdas donde no hay valores faltantes. Puedes sumar los valores True de cada columna para obtener el número total de valores faltantes en esa columna:

In [34]:
# Obtener el número de valores faltantes por columna
print(red_wine.isna().sum())

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [35]:
# O, de forma equivalente:
print(red_wine.isnull().sum())

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

Este código devolverá una serie que muestra el número de valores faltantes en cada columna. Si el número es cero, significa que no hay valores faltantes en esa columna.